.navbar {
	background-color: #4e4e4e;
}

.container-navbar {
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.company-name,
.nav-link {
	font-weight: bold;
	font-size: 1.8rem;
}

.nav-links {
	display: none;
}

@media (min-width: 768px) {
	.nav-links {
		display: flex;
		gap: 4.6rem;
	}

	.nav-link {
		color: #ffffff;
		text-decoration: none;
		font-weight: normal;
	}

	.disabled-link {
		cursor: not-allowed;
	}
}
